body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f7fc; 
}

#main-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #007bff; 
}

#upcoming-sessions {
    text-align: center;
}

#upcoming-list {
    list-style: none;
    padding: 0;
}

#upcoming-list li {
    background-color: #d1ecf1; 
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

#upcoming-list li:hover {
    background-color: #bee3f8; 
    transition: background-color 0.3s ease;
}
